extends ../templates/template-post.pug

include ../components/mixin-head.pug
include ../components/mixin-menu.pug

block site-head
  -var title = 'Demos'
  -var desc = '滕运锋,英文名Yakima Teng,2013年毕业于沈阳药科大学·药学(食品药学方向)专业。博客主要记录了一些生活琐碎、思考感悟,以及药学和IT方面的一些技术文章。'
  +mixinHead(title, desc)
  link(rel="stylesheet", href="../../styles/pages/demos.min.css")

block site-menu
  +mixinMenu('demos')

block site-content
  .content Demos

block site-foot
  script(src="../../scripts/pages/demos.min.js")
