doctype html
html(lang="zh-CN")
  include ../components/head.pug
  body
    div.site-wrapper
      include ../components/header.pug
      include ../components/menu.pug
      div.page-wrapper
      include ../components/footer.pug
