head
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  title Yakima Teng | 滕运锋
  link(rel="stylesheet", href="../../styles/global/reset.min.css")
  link(rel="stylesheet", href="../../styles/global/global.min.css")
  //- script(src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js")
  //- script(src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js")
  script(src="../../scripts/libs/libs-before.min.js")
